<%- include("layouts/sidebar") %>
<%- include("layouts/header") %>

<main>
    <section class="content-main">
        
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID:<%= orders._id%></p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b><%=orders.createdAt.toDateString() %></b>
                        </span> <br>
                        <small class="text-muted">Order ID: <%=orders._id%></small>
                    </div>
                  
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%=orders.address.firstname%> <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> <%= orders.address.phone%>
                                </p>
                               
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Delhivery <br> Pay method:<%= orders.payment.method%> <br> Status: <%= orders.status%>
                                </p>
                                
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    <%=orders.address.address%><br><%=orders.address.city%> <br><%= orders.address.state%> <%= orders.address.zip%>
                                </p>
                               
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                               
    
                                    <tbody>
                                        <% for(let key of orders.products.item) { %>
                                      <tr>
                                        <td>
                                          <div class="d-flex mb-2">
                                          
                                            <!-- <div class="flex-shrink-0">
                                                <img src="uploads/<%=key.productId.image[0]%>" alt="" style="width: 70px;height: 70px;" class="img-fluid">
                                              </div> -->
                                            <div class="flex-lg-grow-1 ms-3">
                                              <h6 style="color: rgb(100, 91, 91);" class="small mb-0"><a href="#" class="text-reset">
                                                  <%=key.productId.name%>
                                                </a></h6>
                                              <span class="small">Color: Black</span>
                                            </div>
                                          </div>
                                        </td>
                                        <td><%=key.quantity%>
                                        </td>
                                        <td>Rs.<%=key.productId.oprice%>
                                        </td>
                                        <td>Rs.<%=key.productId.oprice*key.quantity%>
                                        </td>
                                      </tr>
                                      <% } %>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td >
                                            Total:
                                        </td>
                                        <td>
                                            Rs.<%= orders.payment.amount%>
                                        </td>
                                      </tr>
                                    </tbody>
                                     
                              
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <p><strong>Order Status: <%= orders.status%></strong></p>
                      <p>
                         Payment method:<%=orders.payment.method%> <br>
                         Reduction amount:   Rs.<%=orders.payment.reduction %>                       <br>
                          Total amount to pay:  Rs.<%=orders.payment.amount - orders.payment.reduction%> 
                          <!-- <span class="badge bg-success rounded-pill text">PAID</span> -->
                      </p>
                      <% if(orders.paymentDetails){%>
                        <p><strong> Payment Details:</strong></p>
                        <p>Receipt no:<%= orders.paymentDetails.reciept%>
                        </p>
                        <p>Payment Status:<%= orders.paymentDetails.status%>
                        </p>
                       
                        <%}%>
                        </div>
                      
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    
    </section> <!-- content-main end// -->
    </main>

<%- include("layouts/footer") %>